# Assignment 1 Solutions

---

**1. In the below elements which of them are values or an expression? eg:- values can be**
**integer or string and expressions will be mathematical operators.**

`*, 'hello', -87.8, -, /, +, 6 `

**Solution -** 

**Values:** 'hello', -87.8, 6

**Expression:**  *, -, /, +

---

**2. What is the difference between string and variable?**

**Solution -**

A Variable is used to store the information in the memory. A variable can store multiple types of data (eg- integer, float, string etc). A string is one of the types of data which can be stored in a variable.


---

**3. Describe three different data types.**

**Solution -**

**i. int :** it represents interger numbers.

**ii. float :** it represents float numbers (decimal values).

**iii. complex :** it represents complex numbers.


---

**4. What is an expression made up of? What do all expressions do?**

**Solution -**

An `expression` is made up of values, operators and variables. 

An `expression` contain some information which is to be evaluated by the Python interpreter and corresponding value is generated.

---

**5. This assignment statements, like spam = 10. What is the difference between** **an expression and a statement?**

**Solution -**

An `expression` is a combination of values, variables, and operators.When we type an expression at the prompt, the interpreter evaluates it, which means that it finds the value of the expression.

**example :** 4*5+20-40 is an example of an expression

Whereas any `instruction` that a python interpreter can execute (carry out) is called a `Statement`.

**example :** variable declaration and variable assignment are statements.

---

**6. After running the following code, what does the variable bacon contain?**

**bacon = 22**

**bacon + 1**


**Solution -**

Variable `bacon` contains `22`. Second line code `bacon + 1` will not increment variable bacon to 23 because, there is no assignment operation to bacon (`bacon = bacon + 1`). So, ultimately bacon will contain 22.


---

**7. What should the values of the following two terms be?**

**'spam' + 'spamspam'**

**'spam' * 3**

**Solution -**

output of `'spam' + 'spamspam'` is `spamspamspam`

output of `'spam' * 3` is `spamspamspam`

In [ ]:
print('spam' + 'spamspam')
print('spam'*3)

spamspamspam
spamspamspam



---

**8. Why is eggs a valid variable name while 100 is invalid?**

**Solution -**

Rule for declaration of a variable -

i. A variable name must start with a letter or the underscore character.<br>
ii. A variable name cannot start with a number. <br>
iii. A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ ) <br> 
iv. Variable names are case-sensitive (age, Age and AGE are three different variables)

`eggs` is following above rules so it is a valid variable but `100` is violating the rule no. i, so it is not a valid variable declaration.


---

**9. What three functions can be used to get the integer, floating-point number, or string
version of a value?**

**Solution -**

The int(), float(), and str() functions are use to get the integer,floating point number, string version of the value respectively.

In [ ]:
num1 = 100.0  # flaot
num2 = 200 # integer

print("Interget version of num1 : ",int(num1))
print("Float version of num2 : ",float(num2))
print("String version of num1 : {} and num2 : {} ".format(str(num1),str(num2)))

Interget version of num1 :  100
Float version of num2 :  200.0
String version of num1 : 100.0 and num2 : 200



---

**10. Why does this expression cause an error? How can you fix it?**</br>
**'I have eaten' + 99 + 'burritos.'**

**Solution -** </br>
The given line will cause an error because there is a string concatenation of non string type data. <br>
`'I have eaten'` and `'burritos.'` are strings. So, their concatenation is possible but `99` is an integer, it's concatenation is not possible with above two strings.

Correct way to write - <br>
Type cast the integer `99` to string. <br>
We can write - <br>
`'I have eaten' + str(99) + 'burritos.'`

In [ ]:
print("Expression with an eror")
print('I have eaten' + 99 + 'burritos.')

Expression with an eror

TypeError: ignored

In [ ]:
print("Expression with no error")
print('I have eaten' + str(99) + 'burritos.')

Expression with no error
I have eaten99burritos.



---

### Submitted By - Pranav Kumar
### Date - 23/08/2022