# Assignment 4 Solutions

---

**1. What exactly is []?**

**Solution -** <br>
`[]` is used to represent a list with no elements.


---

**2. In a list of values stored in a variable called spam, how would you assign the value 'hello' as the third value? (Assume [2, 4, 6, 8, 10] are in spam.)**

**Solution -** <br>
spam.insert(2,'hello')

In [ ]:
spam = [2, 4, 6, 8, 10]
spam.insert(2,'hello')
spam

[2, 4, 'hello', 6, 8, 10]



---

### Let's pretend the spam includes the list ['a', 'b', 'c', 'd'] for the next three queries.

spam = ['a', 'b', 'c', 'd']

**3. What is the value of spam[int(int('3' * 2) / 11)]?**

**Solution -** <br>
`spam[int(int('3' * 2) / 11)]` <br>
=> `spam[int(int('33') / 11)]` <br>
=> `spam[int(33 / 11)]` <br>
=> `spam[int(33 / 11)]` <br>
=> `spam[3]` <br>
=> `'d'`

In [ ]:
spam = ['a', 'b', 'c', 'd']
a = spam[int(int('3' * 2) / 11)] 
a

'd'



---

**4. What is the value of spam[-1]?**

**Solution -** <br>
[-1] => last element in the list. So, `spam[-1] = 'd'`

In [ ]:
spam[-1]

'd'



---

**5. What is the value of spam[:2]?**

**Solution -** <br>
[:2] => all elements from start (0th index) till 2nd index(exclude last index,that is 2nd index). spam[:2] = ['a','b']

In [ ]:
 spam[:2]

['a', 'b']



---

### Let's pretend bacon has the list [3.14, 'cat', 11, 'cat', True] for the next three questions.

bacon = [3.14, 'cat', 11, 'cat', True]

**6. What is the value of bacon.index('cat')?**

**Solution -** <br>
`bacon.index('cat')` will give the first occurance of `'cat'`.So, `bacon.index('cat')` = `1`

In [ ]:
bacon = [3.14, 'cat', 11, 'cat', True]
bacon.index('cat')

1



---

**7. How does bacon.append(99) change the look of the list value in bacon?**

**Solution -** <br>
`bacon.append(99)` will add `99` at the end of the list bacon. Before appending 99, bacon was `bacon = [3.14, 'cat', 11, 'cat', True]` but after appending 99, bacon will look like `bacon = [3.14, 'cat', 11, 'cat', True,99]`

In [ ]:
bacon.append(99)
bacon

[3.14, 'cat', 11, 'cat', True, 99]



---

**8. How does bacon.remove('cat') change the look of the list in bacon?**

**Solution -** <br>
`bacon.remove('cat') `will remove the first occurance of `'cat'`.

Before `bacon.remove('cat') ` => `bacon = [3.14, 'cat', 11, 'cat', True, 99]`<br>
After `bacon.remove('cat') ` => `bacon = [3.14, 11, 'cat', True, 99]`

In [ ]:
bacon.remove('cat')
bacon

[3.14, 11, 'cat', True, 99]



---

**9. What are the list concatenation and list replication operators?**

**Solution -** <br>
`+` is used as list concatenation operator and `*` is used as list replication operator. <br>

Example -

In [ ]:
a = [1,2,3]
b = [4,5,6]
print("List concatenation using + : ",end = " ")
print(a+b)
print()
print("List replication using * : ",end=" ")
print(a*3)

List concatenation using + :  [1, 2, 3, 4, 5, 6]

List replication using * :  [1, 2, 3, 1, 2, 3, 1, 2, 3]



---

**10. What is difference between the list methods append() and insert()?**

**Solution -** <br>
`append()` method always inserts new element at the end of the list whereas `insert()` method inserts new elements at the specified position.


---

**11. What are the two methods for removing items from a list?**

**Solution -** <br>
`remove()` and `pop()` are the two methods for removing items from a list. <br>

`remove()` removes the first occurance of the given element'. <br>
`pop()` removes the element from the given index.

---

**12. Describe how list values and string values are identical.**

**Solution -** <br>
Both list and string are iterable, and can be sliced.


---

**13. What's the difference between tuples and lists?**

**Solution -** <br>
i.  Tuple is immulable but list is mulable. <br>
ii. Tuple consumes less memory and list consumes more memory than tuple.

---

**14. How do you type a tuple value that only contains the integer 42?**

**Solution -** <br>
`(42,)`

In [1]:
t = (42,)
print(t)
print(type(t))

(42,)
<class 'tuple'>



---

**15. How do you get a list value's tuple form? How do you get a tuple value's list form?**

**Solution -**<br>
Using list() function we can convert a tuple into a list and using tuple() function we can convert a list into a tuple.

In [3]:
t = (1,2,3)
l = ['a','b','c']
print("Tuple : ",t)
print("Tuple converted to a list : ",list(t))
print("List : ",l)
print("List converted to a tuple : ",tuple(l))

Tuple :  (1, 2, 3)
Tuple converted to a list :  [1, 2, 3]
List :  ['a', 'b', 'c']
List converted to a tuple :  ('a', 'b', 'c')



---

**16. Variables that "contain" list values are not necessarily lists themselves. Instead, what do they contain?**

**Solution -** <br>
Variables may contain references to list values.


---

**17. How do you distinguish between copy.copy() and copy.deepcopy()?**

**Solution -** <br>
Both `copy.copy()` and `copy.deepcopy()` create a new compound object but `copy.copy()` inserts references into it (new object) to the elements found in the original but `copy.deepcopy()` recursively inserts copies into the new object of the elements found in the original. <br>
Only `copy.deepcopy()` will duplicate any list(s) inside the list.

In [8]:
import copy
l = [1,2,3,[4,5]]
l2 = copy.copy(l)

print("It is a shallow copy\n")
print("Before making shallow copy of l : ",l)
l2[3][0] = 100

print("shallow Copy of l : ",l2)
print("After modifying list element in the l2 (original list l) : ",l)

print("\nIt is a deep Copy\n")
l3 = copy.deepcopy(l)
print("Before making deep copy of l : ",l)
l3[3][0] = 500

print("deep Copy of l : ",l3)
print("After modifying list element in the l3 (original list l) : ",l)

It is a shallow copy

Before making shallow copy of l :  [1, 2, 3, [4, 5]]
shallow Copy of l :  [1, 2, 3, [100, 5]]
After modifying list element in the l2 (original list l) :  [1, 2, 3, [100, 5]]

It is a deep Copy

Before making deep copy of l :  [1, 2, 3, [100, 5]]
deep Copy of l :  [1, 2, 3, [500, 5]]
After modifying list element in the l3 (original list l) :  [1, 2, 3, [100, 5]]



---

### Submitted By - Pranav Kumar
### Date - 25/08/2022