<a href="https://colab.research.google.com/github/pranav-pragyan/Data-Science-ineoron-/blob/main/Python_Basis_Program/Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# Programming Assignment 2 Solutions

---

**1. Write a Python program to convert kilometers to miles?**

In [1]:
#1 km = 0.62137119 miles
length = int(input("Enter the length in kilometer : "))

print("{} kilometers in miles = {}.".format(length,length*0.62137119))

Enter the length in kilometer : 5
5 kilometers in miles = 3.10685595.



---

**2. Write a Python program to convert Celsius to Fahrenheit?**

In [2]:
#(30°C x 1.8) + 32 = 86°F
temp_in_cel = int(input("Enter the temperature in Celsius : "))
print("{} degree Celsius in  Fahrenheit = {}.".format(temp_in_cel,(temp_in_cel*1.8)+32))

Enter the temperature in Celsius : 0
0 degree Celsius in  Fahrenheit = 32.0.



---

**3. Write a Python program to display calendar?**

In [4]:
import calendar

year = int(input("Enter the calender year: "))
print(calendar.calendar(year))

Enter the calender year: 2022
                                  2022

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6          1  2  3  4  5  6
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       7  8  9 10 11 12 13
10 11 12 13 14 15 16      14 15 16 17 18 19 20      14 15 16 17 18 19 20
17 18 19 20 21 22 23      21 22 23 24 25 26 27      21 22 23 24 25 26 27
24 25 26 27 28 29 30      28                        28 29 30 31
31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3                         1             1  2  3  4  5
 4  5  6  7  8  9 10       2  3  4  5  6  7  8       6  7  8  9 10 11 12
11 12 13 14 15 16 17       9 10 11 12 13 14 15      13 14 15 16 17 18 19
18 19 20 21 22 23 24      16 17 18 19 20 21 22      20 21 22 23 24 25 26
25 26 27 28 29 30         23 24 25 26 27 28 29      27 28 29 30
                          30 31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7                1  2  3  4
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       5  6  7  8  9 10 11
11 12 13 14 15 16 17      15 16 17 18 19 20 21      12 13 14 15 16 17 18
18 19 20 21 22 23 24      22 23 24 25 26 27 28      19 20 21 22 23 24 25
25 26 27 28 29 30 31      29 30 31                  26 27 28 29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                1  2  3  4
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       5  6  7  8  9 10 11
10 11 12 13 14 15 16      14 15 16 17 18 19 20      12 13 14 15 16 17 18
17 18 19 20 21 22 23      21 22 23 24 25 26 27      19 20 21 22 23 24 25
24 25 26 27 28 29 30      28 29 30                  26 27 28 29 30 31
31



---

**4. Write a Python program to solve quadratic equation?**

In [7]:
import math
import cmath

def quad_eq(a,b,c):
  dis = b*b-4*a*c
  if dis == 0:
    root = -b/2*a
    print("Roots are Real and equale :")
    print("\nFirst root = second root = ",root)
  if dis>0:
    root1 = (-b-math.sqrt(dis))/(2 * a)
    root2 = (-b+math.sqrt(dis))/(2 * a)
    print("Roots are Real and unequale :")
    print("\nFirst root = {} and second root = {}.".format(root1,root2))
  if dis<0:
    root1 = (-b-cmath.sqrt(dis))/(2 * a)
    root2 = (-b+cmath.sqrt(dis))/(2 * a)
    print("Roots are imaginary and unequale :")
    print("\nFirst root = {} and second root = {}.".format(root1,root2))

print("Form of the quadratic equation : a*x^2 + b*x + c = 0")
a = int((input("\nEnter the value of a : ")))
b = int((input("\nEnter the value of b : ")))
c = int((input("\nEnter the value of c : ")))
print("\n")
quad_eq(a,b,c)

Form of the quadratic equation : a*x^2 + b*x + c = 0

Enter the value of a : 5

Enter the value of b : 6

Enter the value of c : 7


Roots are imaginary and unequale :

First root = (-0.6-1.0198039027185568j) and second root = (-0.6+1.0198039027185568j).



---

**5. Write a Python program to swap two variables without temp variable?**

In [12]:
a = int((input("\nEnter the first number : ")))
b = int((input("\nEnter the second number : ")))
print("\nEalier first and second variables were  {} and {}.".format(a,b))

a = a ^ b  
b = a ^ b  
a = a ^ b

print("\nNow the first and second variables are  {} and {}.".format(a,b))

Enter the first number : 15

Enter the second number : 20

Ealier first and second variables were  15 and 20.

Now the first and second variables are  20 and 15.



---

### Submitted by - Pranav Kumar
### Date - 01/09/2022